body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
}
a {
    color: inherit;
}
img {
    width: 100%;
}
h1 {
    margin: 0;
}
.root {
    display: grid;
    grid-template-areas:
    'menu main main main main main'
    'menu main main main main main'
    'menu main main main main main';
    grid-gap: 10px;
    background-color: #2D3033;
}
.Navigation {
    grid-area: menu;
}
.main {
    grid-area: main;
}

@media (max-width: 768px) {
    .root {
        display: grid;
        grid-template-areas:
        'menu menu menu menu menu menu'
        'menu menu menu menu menu menu'
        'main main main main main main'
        'main main main main main main';
        grid-gap: 10px;
        background-color: #2D3033;
    }
    .Navigation {
        text-align: center;
    }
    .Navigation-logo {
        margin: 0 auto;
    }
    .Navigation-list {
        display: grid;
        font-size: 12px;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }
}