body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
}
a {
    color: inherit;
}
img {
    width: 100%;
}
h1 {
    margin: 0;
}
.root {
    display: grid;
    grid-template-areas:
    'menu main main main right right'
    'menu main main main right right';
    grid-gap: 10px;
    height: 100vh;
    background-color: #2D3033;
}
.Navigation {
    grid-area: menu;
}
.main {
    grid-area: main;
}

@media (max-width: 768px) {
    .root {
        display: flex;
        flex-direction: column;
    }
    .Navigation {
        text-align: center;
    }
    .Navigation-logo {
        margin: 0 auto;
    }
    .Navigation-list {
        display: flex;
        justify-content: space-between;
    }
}